.movieDetails {
  
    flex-direction: column;
    align-items: center;
  }
  
  .goBack {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .movieSection {
    margin-bottom: 20px;
  }
  
  .movieInfo {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
  }
  
  .moviePoster {
    margin-right: 20px;
  }
  
  .posterImage {
    width: 200px;
    height: 300px;
  }
  
  .movieDetailsText {
    flex: 1;
  }
  
  .tabs {
    margin-bottom: 20px;
    margin-top: 100px;
    padding-left: 0;
    margin-left: 100px;
  }
  
  .activeTab {
    font-weight: bold;
  }
  
  .castSection {
    margin-bottom: 20px;
  }
  
  .reviewsSection {
    margin-bottom: 20px;
  }
  
  .castItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .castImage {
    width: 100px;
    height: 150px;
    margin-right: 10px;
  }
  .linkStyle {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  .ulStyle {
    padding-left: 0;
  }
  .castButton {
    margin-bottom: 10px;
        padding-left: 18px;
      padding-right: 17px;
  }
  .castMargin {
    margin-left: 100px;
  }
  .reviewsMargin {
    margin-left: 100px;
  }